.header {
    margin-top: 30px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 20px;
}

.logo__svg {
    width: 50px;
    height: 50px;
    fill: aliceblue;
}

.logo__svg:hover {
    fill: #2563eb;
    cursor: pointer;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; 
}

.nav {
    color: aliceblue;
    font-size: 1.8rem;
}

.nav__item {
    margin-right: 30px;
}

.nav__item:hover {
    color: #D946EF;
    cursor: pointer;
}

.nav__btn {
    border: 3px solid #D946EF;
    padding: 10px;
}

.nav__item:last-child {
    margin-right: 0;
}

.burger {
    display: none;
}

.logo-title-mobile {
    display: none;
}

@media (max-width: 768px) {
    .header__nav {
        display:none; 
    }

    .burger {
        display: block;
    }

    .burger__svg {
        width: 50px;
        height: 60px;
        fill: aliceblue;
    }

    .logo-title-mobile {
        display: block;

        color: aliceblue;
        font-size: 2.2rem;
    }
}