.title {
  font-size: 4.2rem;
  line-height: 1.9;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);

  position: relative;

  max-width: 700px;
}

.title::before {
  position: absolute;
  content: "";
  left: 76.11%;
  right: 0.28%;
  top: 10.52%;
  bottom: 50.2%;

  background: #5141da;
  filter: blur(200px);

  z-index: -5;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.8rem;
    margin-top: 50px;
  }
}
